<html>
<head>
<title>Set Alarm Clock</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
</head>
<body>
<form class="form-horizontal" action="alarmclock/setalarmtime" method="GET">
<fieldset>

<!-- Form Name -->
<legend>AlarmClock Setting</legend>

<!-- Select Basic -->
<div class="control-group">
    <select id="hour" name="hour" class="input-mini">
      <option>Hour</option>
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
      <option>11</option>
      <option>12</option>
      <option>13</option>
      <option>14</option>
      <option>15</option>
      <option>16</option>
      <option>17</option>
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
    </select>
 :
    <select id="minute" name="minute" class="input-mini">
      <option>Minute</option>
      <option>5</option>
      <option>10</option>
      <option>15</option>
      <option>20</option>
      <option>25</option>
      <option>30</option>
      <option>35</option>
      <option>40</option>
      <option>45</option>
      <option>50</option>
      <option>55</option>
    </select>
</div>

<!-- Button -->
<div class="control-group">
  <div class="controls">
    <button id="submit" class="btn btn-primary" type="Submit">save</button>
  </div>
</div>

</fieldset>
</form>
</body>
</html>
